<%= game_state(@tally.game_state) %>

<div class="row">
  <div class="col-sm">
    <%= render("_gallows.html", left: @tally.turns_left) %>
  </div>
  <div class="col-lg">
    <%= render("_status.html", tally: @tally, conn: @conn) %>
  </div>
</div>
